body {
  font-family: sans-serif;
  position: relative;
  padding: 20%;
  text-align: center;
}

p {
  margin-top: 2rem;
}

.mobile-nav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
  background-color: blue;
  overflow-x: hidden;
  padding-top: 2rem;
  transform: translateX(-300px);
  transition: .3s all ease;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  text-align: left;
}

.mobile-nav.active {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.mobile-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mobile-nav-menu ul a {
  font-size: .75rem;
}

.mobile-nav-menu li {
  border-bottom: 1px solid grey;
}

.mobile-nav a {
  padding: .5rem 1rem;
  text-decoration: none;
  font-size: 1rem;
  color: white;
  display: block;
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.mobile-nav a:not(.mobile-nav-close):hover {
  padding: .5rem 1.5rem;
}

.mobile-nav .mobile-nav-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2.5rem;
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  padding: 0rem .25rem .25rem .1rem;
  user-select: none;
}

.mobile-nav .mobile-nav-close:hover {
  background-color: #08089c;
}

/* Hamburger */
.hamburger-container {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.hamburger .line {
  width: 50px;
  height: 5px;
  background-color: blue;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger {
  position: relative;
  transition: all 0.3s ease-in-out;
}

.hamburger.is-active{
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger:before{
  content: "";
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 70px;
  height: 70px;
  border: 5px solid transparent;
  top: calc(50% - 35px);
  left: calc(50% - 35px);
  border-radius: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger.is-active:before {
  border: 5px solid blue;
}

.hamburger.is-active .line {
  width: 35px;
}

.hamburger.is-active .line:nth-child(2){
  opacity: 0;
}

.hamburger.is-active .line:nth-child(1){
  -webkit-transform: translateY(13px);
  transform: translateY(13px);
}

.hamburger.is-active .line:nth-child(3){
  -webkit-transform: translateY(-13px) rotate(90deg);
  transform: translateY(-13px) rotate(90deg);
}
